h3
{
font-family :tahoma;
color : grey;
font-size : 40;
font-style : bold;
background : silver;
font-family : Brush Script MT;
}
body
{
font-family :marker;
color : brown ;
font-size : 16;
font-style : bold;
font-family : Verdana;

}
title
{
color : lavender;
font-size : 18;
font-style : bold;
background : silver;
font-family : Tahoma ;

}
li
{
color : darkpink;
font-size : 14;
font-style : bold;
font-family :Trebuchet MS;

}
form
{
color : lightgreen;
font-size : 12;
font-style : bold;
background : green;
font-family : Arial;


}
ul
{
color : darkpink;
font-size : 14;
font-style : bold;
background : silver;
font-family : Georgia;


}
ol
{
color : purple;
font-size : 12;
font-style : bold;
background : silver;
font-family : Garamond;


}
tr
{
color : darkblue;
font-size : 14;
font-style : bold;
font-family : Verdana;

}
tr
{
color : violet;
font-size : 12;
font-style : bold;Verdana;
font-family : Verdana;

}
head
{
color : darkred;
font-size : 20;
font-style : bold;
background : gold;
font-family : Courier New ;


}

