h3
{
font-family :tahoma;

font-size : 40;
font-style : bold;

font-family : Brush Script MT;
}
body
{
font-family :marker;

font-size : 26;
font-style : bold;
font-family : Verdana;

}
title
{

font-size : 30;
font-style : bold;

font-family : Tahoma ;

}
li
{

font-size : 28;
font-style : bold;
font-family :Trebuchet MS;

}
form
{

font-size : 28;
font-style : bold;

font-family : Arial;


}
ul
{

font-size : 32;
font-style : bold;

font-family : Georgia;


}
ol
{

font-size : 32;
font-style : bold;

font-family : Garamond;


}
tr
{

font-size : 20;
font-style : bold;
font-family : Verdana;

}
tr
{

font-size : 200;
font-style : bold;
font-family : Verdana;

}
head
{
color : darkred;
font-size : 36;
font-style : bold;
font-family : Courier New ;
}
f1,f3,f6
{
  background : grey;
}
f2,f4,f8
{
  background : violet;
}
f5,f7,f9
{
  background : pink;
}
f10
{
  background : skyblue;
}
